body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #f8fafb; /*light grayish blue*/
  color: #321220; /*mostly black pink*/
  line-height: 120%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75em
}

h3 {
  font-size: 1.5em;
  line-height: 100%;
}

figcaption {
  font-size: .75em;
  font-style: italic;
}

a{
  text-decoration:none;
}
a:link { color:#582038; } /* unvisited,very dark pink */
a:visited { color:#203858; } /* visited, very dark blue */
a:hover { color:#7d2e50; } /* mouse over, dark pink */
a:active { color:#45192c; } /* selected, very dark pink */


.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
